.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: white;
    height: 10vh;
    width: 100%;
    border-radius: 30px;
}

.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    height: 10vh;
    width: 100%;
    border-radius: 30px;
}
